# Include *all* libraries that are direct dependencies of the notebook.
# Do not pin versions, and do not use upper version limits unless absolute necessary, and always leave a comment as an explanation in those cases.
# Always leave a comment for any non-direct dependencies that you may need to include in this file (for example if a direct dependency requires it, but it is just their optional dependency, or if there is a version limit implied by some functionality)

numpy
