# .fits files
./**/*.fits
*.fits

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# Mac OSX
.DS_Store

# PyCharm
.idea

# VSCode
.vscode

#pycache
__pycache__

# directory created by notebooks to store results
output/

# Temporary directory
./data/tmp/

# untimely github repo
./light_curves/unTimely_Catalog_explorer/
