# directory created by notebooks to store results
output/

# cache directory created by nway in forced photometry notebook
cache/

# .fits files
./**/*.fits
*.fits

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# Mac OSX
.DS_Store

# PyCharm
.idea

# VSCode
.vscode

#pycache
__pycache__
