# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
numpy
pandas[parquet]
matplotlib
astropy
sktime<0.32
tqdm
googledrivedownloader
scikit-learn
acstools
## Optional indirect dependencies required by functionalities used in the notebook
# Required by functionality we use from acstools
scikit-image
# Required by functionality we use from sktime
numba
# Required for sensible progress bars
ipywidgets
