# List python dependencies here to be installed at the start of the
# notebook. Libraries can be removed from the list when they get shipped in
# the container supporting the science use case in question.
acstools
astropy
astroquery==0.4.7dev8479
hpgeom
lightkurve
matplotlib
numpy
pandas
pyvo
s3fs>=23.10.0
tqdm
alerce
umap-learn[plot]
git+https://github.com/sevamoo/SOMPY
