# List python dependencies here to be installed at the start of the
# notebook. Libraries can be removed from the list when they get shipped in
# the container supporting the science use case in question.
acstools
astropy
astroquery
git+https://github.com/fkiwy/unTimely_Catalog_explorer
hpgeom
lightkurve
matplotlib
numpy
pandas
pyvo
reproject  # needed for untimely
s3fs
tqdm
wget
alerce
umap-learn[plot]
git+https://github.com/sevamoo/SOMPY