# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
requests
tqdm
numpy
scipy
pandas[aws, parquet]
matplotlib
hpgeom
astropy
pyvo
astroquery>=0.4.8.dev0
acstools
lightkurve
alerce
lsdb
# We use distributed in this notebook, but installing any dask would make the [dataframe] extras required by dependencies for other notebooks.
# It feels to be the cleanest solution to add the dependency here as we don't directly use it elsewhere.
# dask version limit is due to sktime incompatibility: https://github.com/sktime/sktime/issues/7753
dask[distributed,dataframe]<=2025.1.0
# Required by functionality we use from acstools
scikit-image
# Required for sensible progress bars
ipywidgets
