# Core packages
langchain
langchain-community
langchain_huggingface
sentence-transformers
faiss-cpu
chromadb
tqdm
python-dotenv
pandas

# Frontend
gradio

# Backend
fastapi
uvicorn

# Model & inference
transformers
torch

# Utilities
beautifulsoup4
requests

# Optional / dev tools
jupyter
streamlit