# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
numpy
matplotlib
pandas
sparclclient
astropy
specutils
astroquery>=0.4.8
