# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
numpy
matplotlib
pandas
sparclclient
astropy
# due to Spectrum1D rename to Spectrum
specutils>=1.20
# due to astroquery.mast fixes
astroquery>=0.4.11.dev0
fsspec
boto3
s3fs
