# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
numpy
matplotlib
pandas
# Right now we don't include DESI by default as sparclclient is not numpy2
# compatible yet
# sparclclient
astropy
# pin is due to Spectrum1D rename to Spectrum and an internap spectutils bug
specutils>=1.20.1
# pin is due to astroquery.mast fixes
astroquery>=0.4.11
# as astroquery optional dependencies `mast` relies on
boto3
botocore
fsspec
# Avoid the poor performance and timeouts described here:
# https://github.com/dask/dask/issues/10276
s3fs>0.6.0
requests
pyvo
