# List explicit python dependencies here. They are also spelt out at the
# beginning of the notebook, make sure the lists are consistent and only
# contain dependencies that are actually used in the notebook.
numpy
matplotlib
pandas
# Right now we don't include DESI by default as sparclclient is not numpy2
# compatible yet
# sparclclient
astropy
specutils
astroquery>=0.4.8
