name: Build and Publish HTML

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 5 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build_docs:
    if: ${{ (github.event_name == 'push' || github.event_name == 'schedule') && github.ref == 'refs/heads/main' }}
    name: Build HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: python -m pip install --upgrade tox

      - name: Build HTML with executing notebooks
        run: tox -e py311-buildhtml

      - name: Publish HTML when on main
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html/
          commit_message: ${{ github.event.head_commit.message }}


  deploy_notebooks:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    name: Deploy deployed_notebook branch
    runs-on: ubuntu-latest
    needs: build_docs
    steps:
      - uses: actions/checkout@v5

      - name: Deploy to deployed_notebooks branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          gith=$(git rev-parse HEAD)
          git checkout --orphan deployed_notebooks
          git rm --cached -r .
          git add --pathspec-from-file=deployed_notebooks_manifest.in --force
          git commit -m "Deploy notebooks for commit ${gith}"
          git push origin deployed_notebooks --force
